@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "Global.cshtml";
    
}


@section Content {
	<div class="container_12 clearfix">
        @Html.Container(new Container
        {
            Name = "sideContainer",
            CssClass = "contentBlock_3",
            DynamicWysiwygClass = "grid_3",
            Blocks = new List<IBlock>()
            {
                new NodeBlock(1059),
                new WysiwygBlock(1) {
                    Content = "<p>Here is some content</p>"
                }
            }
        })

        @Html.Container(new Container
        {
            Name = "contentContainer",
            CssClass = "contentBlock_9",
            DynamicWysiwygClass = "grid_9",
            Blocks = new List<IBlock>()
            {
                new NodeBlock(1059),
                new WysiwygBlock(1) {
                    Content = "<p>Here is some content</p>"
                }
            }
        })
    </div>
}
