@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "Global.cshtml";
    
}


@section Content {
	<div class="container_12 clearfix">
        @Html.Container(new Container
        {
            Name = "sideContainer",
            Classes = "contentBlock_3",
            WysiwygClass = "grid_3",
            Blocks = new List<IBlock>()
            {
                new WebBlocks.Models.Angular.ContentBlock(1080),
                new WebBlocks.Models.Angular.WysiwygBlock(1) {
                    Content = "<p>Here is some content</p>"
                }
            }
        })

        @Html.Container(new WebBlocks.Models.Angular.Container
        {
            Name = "contentContainer",
            Classes = "contentBlock_9",
            WysiwygClass = "grid_9",
            Blocks = new List<IBlock>()
            {
                new WebBlocks.Models.Angular.ContentBlock(1081),
                new WebBlocks.Models.Angular.WysiwygBlock(40) {
                    Content = "<p>Some other content, yeah</p>"   
                }
            }
        })
		
		<div class="contentBlock_12">
			<h1>THIS IS HARD CODED IN</H1>
		</div>

        @Html.Container(new WebBlocks.Models.Angular.Container
        {
            Name = "bottomContainer",
            Classes = "contentBlock_12",
            WysiwygClass = "grid_12",
            Blocks = new List<IBlock>()
            {
                new WebBlocks.Models.Angular.WysiwygBlock(8723) {
                    Content = "<p>Some other content, yeah</p>"
                }
            }
        })
    </div>
}