<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT blocksFolder ANY>
<!ATTLIST blocksFolder id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1065" key="fadf6072-3ba1-45f7-a94f-952cc01e51a5" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-03-16T23:56:56" updateDate="2018-03-17T10:43:26" nodeName="Home" urlName="home" path="-1,1065" isDoc="" nodeType="1061" creatorName="admin" writerName="admin" writerID="0" template="1064" nodeTypeAlias="homePage" isPublished="true">
    <webBlocks><![CDATA[{
  "Containers": {},
  "Editors": {
    "Heading": "my name is debra noble",
    "SubText": "<span style=\"box-sizing: border-box; font-weight: bolder; color: rgb(255, 255, 255); font-family: Merriweather, &quot;Helvetica Neue&quot;, Arial, sans-serif; font-size: 16px;\"><div class=\"col-lg-8 mx-auto\" style=\"box-sizing: border-box; position: relative; width: 760px; min-height: 1px; padding-right: 15px; padding-left: 15px; -webkit-box-flex: 0; flex: 0 0 66.6667%; max-width: 66.6667%; margin-right: auto !important; margin-left: auto !important;\"><p class=\"text-faded mb-5\" style=\"box-sizing: border-box; margin-bottom: 3rem !important;\">I live in Bristol.</p></div></span>",
    "GotWhatYouNeed": "Im looking for",
    "GotWhatYouNeedSubtext": "I'm looking for a lot<br>",
    "ServiceHeading": "Our Services"
  },
  "RecycleBin": [],
  "BlockStorage": []
}]]></webBlocks>
  </homePage>
  <blocksFolder id="1066" key="2a6e03a8-11b8-43f4-bbdd-315851148902" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-03-16T23:57:12" updateDate="2018-03-16T23:57:12" nodeName="Blocks" urlName="blocks" path="-1,1066" isDoc="" nodeType="1062" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="blocksFolder" isPublished="true" />
</root>