<!DOCTYPE root[<!ELEMENT TwitterFeedBlock ANY>
<!ATTLIST TwitterFeedBlock id ID #REQUIRED>
<!ELEMENT SocialFeedBlocks ANY>
<!ATTLIST SocialFeedBlocks id ID #REQUIRED>
 
<!ELEMENT Base ANY>
<!ATTLIST Base id ID #REQUIRED>
<!ELEMENT Blocks ANY>
<!ATTLIST Blocks id ID #REQUIRED>
<!ELEMENT BlocksFolder ANY>
<!ATTLIST BlocksFolder id ID #REQUIRED>
<!ELEMENT BlocksSubfolder ANY>
<!ATTLIST BlocksSubfolder id ID #REQUIRED>
<!ELEMENT ContentPage ANY>
<!ATTLIST ContentPage id ID #REQUIRED>
<!ELEMENT FeatureBlock ANY>
<!ATTLIST FeatureBlock id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT WebBlocksBase ANY>
<!ATTLIST WebBlocksBase id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1052" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-01-06T17:45:30" updateDate="2015-01-20T16:05:24" nodeName="Home" urlName="home" path="-1,1052" isDoc="" nodeType="1050" creatorName="Mentor" writerName="Mentor" writerID="0" template="1056" nodeTypeAlias="HomePage">
    <ContentPage id="1053" parentID="1052" level="2" creatorID="0" sortOrder="0" createDate="2015-01-06T17:45:55" updateDate="2015-01-06T17:45:55" nodeName="Featured Movies" urlName="featured-movies" path="-1,1052,1053" isDoc="" nodeType="1051" creatorName="Mentor" writerName="Mentor" writerID="0" template="0" nodeTypeAlias="ContentPage" />
  </HomePage>
  <BlocksFolder id="1063" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-01-20T10:46:01" updateDate="2015-01-20T10:46:01" nodeName="Blocks" urlName="blocks" path="-1,1063" isDoc="" nodeType="1059" creatorName="Mentor" writerName="Mentor" writerID="0" template="0" nodeTypeAlias="BlocksFolder">
    <BlocksSubfolder id="1064" parentID="1063" level="2" creatorID="0" sortOrder="0" createDate="2015-01-20T10:46:11" updateDate="2015-01-20T10:46:11" nodeName="Feature Blocks" urlName="feature-blocks" path="-1,1063,1064" isDoc="" nodeType="1062" creatorName="Mentor" writerName="Mentor" writerID="0" template="0" nodeTypeAlias="BlocksSubfolder">
      <FeatureBlock id="1065" parentID="1064" level="3" creatorID="0" sortOrder="0" createDate="2015-01-20T10:46:40" updateDate="2015-01-20T10:46:40" nodeName="Mentor Digital Feature Block" urlName="mentor-digital-feature-block" path="-1,1063,1064,1065" isDoc="" nodeType="1061" creatorName="Mentor" writerName="Mentor" writerID="0" template="0" nodeTypeAlias="FeatureBlock">
        <link>1053</link>
        <image>1057</image>
      </FeatureBlock>
    </BlocksSubfolder>
    <SocialFeedBlocks id="1068" parentID="1063" level="2" creatorID="0" sortOrder="1" createDate="2015-01-20T12:09:26" updateDate="2015-01-20T12:09:26" nodeName="Social Feed Blocks" urlName="social-feed-blocks" path="-1,1063,1068" isDoc="" nodeType="1066" creatorName="Mentor" writerName="Mentor" writerID="0" template="0" nodeTypeAlias="SocialFeedBlocks">
      <TwitterFeedBlock id="1069" parentID="1068" level="3" creatorID="0" sortOrder="0" createDate="2015-01-20T12:09:42" updateDate="2015-01-20T12:09:42" nodeName="Mentor Web Blocks Twitter Block" urlName="mentor-web-blocks-twitter-block" path="-1,1063,1068,1069" isDoc="" nodeType="1067" creatorName="Mentor" writerName="Mentor" writerID="0" template="0" nodeTypeAlias="TwitterFeedBlock" />
    </SocialFeedBlocks>
  </BlocksFolder>
</root>