<!DOCTYPE root[<!ELEMENT FeatureBlock ANY>
<!ATTLIST FeatureBlock id ID #REQUIRED>
 
<!ELEMENT Base ANY>
<!ATTLIST Base id ID #REQUIRED>
<!ELEMENT ContentPage ANY>
<!ATTLIST ContentPage id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT WebBlocksBase ANY>
<!ATTLIST WebBlocksBase id ID #REQUIRED>

]>
<root id="-1">
  <FeatureBlock id="1059" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-01-20T22:23:56" updateDate="2015-01-29T19:20:18" nodeName="Booyah!" urlName="booyah" path="-1,1059" isDoc="" nodeType="1058" creatorName="Mentor" writerName="Mentor" writerID="0" template="0" nodeTypeAlias="FeatureBlock">
    <content><![CDATA[Snooker HD]]></content>
    <image>1057</image>
  </FeatureBlock>
  <FeatureBlock id="1060" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2015-01-22T21:28:03" updateDate="2015-01-25T17:22:23" nodeName="72" urlName="72" path="-1,1060" isDoc="" nodeType="1058" creatorName="Mentor" writerName="Mentor" writerID="0" template="0" nodeTypeAlias="FeatureBlock">
    <content><![CDATA[Jack Perry LIVE]]></content>
    <image>1057</image>
  </FeatureBlock>
  <HomePage id="1052" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1050" template="1056" sortOrder="0" createDate="2015-01-06T17:45:30" updateDate="2015-01-29T21:29:00" nodeName="Home" urlName="home" writerName="Mentor" creatorName="Mentor" path="-1,1052" isDoc="">
    <ContentPage id="1053" parentID="1052" level="2" creatorID="0" sortOrder="0" createDate="2015-01-06T17:45:55" updateDate="2015-01-06T17:45:55" nodeName="Featured Movies" urlName="featured-movies" path="-1,1052,1053" isDoc="" nodeType="1051" creatorName="Mentor" writerName="Mentor" writerID="0" template="0" nodeTypeAlias="ContentPage" />
    <webblocks><![CDATA[{
  "Containers": {
    "sideContainer": {
      "Name": "sideContainer",
      "WysiwygClass": "grid_3",
      "Blocks": [
        {
          "Id": 1059,
          "Name": "Booyah!",
          "SortOrder": 0,
          "IsTemplateBlock": true,
          "IsDeletedBlock": false,
          "ViewModel": {
            "Tag": "div",
            "Attributes": [],
            "Classes": " grid_3",
            "Html": "\n\t\n\n\n<div class=\"siteBlock featureBlock\">\n\t<div class=\"blockImage\">\n\t\t\t<img src=\"/media/1050/untitled.png\" alt=\"Booyah!\" /> \n\t</div>\n\t\n\t<div class=\"blockTitle\">\nBooyah!\t</div>\n\t\t\n\t\t<div class=\"blockContent\">Snooker HD</div>\n</div>",
            "ShouldRerender": false
          },
          "__type": "NodeBlock"
        },
        {
          "Id": 1,
          "Name": "Wysiwyg",
          "SortOrder": 0,
          "IsTemplateBlock": true,
          "IsDeletedBlock": false,
          "ViewModel": {
            "Tag": "div",
            "Attributes": [],
            "Classes": "block pageWysiwygBlock",
            "Html": "<p>Here is some content</p>",
            "ShouldRerender": false
          },
          "__type": "WysiwygBlock",
          "Content": "<p>Here is some content</p>"
        }
      ]
    },
    "contentContainer": {
      "Name": "contentContainer",
      "WysiwygClass": "grid_9",
      "Blocks": [
        {
          "Id": 1059,
          "Name": "Booyah!",
          "SortOrder": 0,
          "IsTemplateBlock": true,
          "IsDeletedBlock": false,
          "ViewModel": {
            "Tag": "div",
            "Attributes": [],
            "Classes": " grid_3",
            "Html": "\n\t\n\n\n<div class=\"siteBlock featureBlock\">\n\t<div class=\"blockImage\">\n\t\t\t<img src=\"/media/1050/untitled.png\" alt=\"Booyah!\" /> \n\t</div>\n\t\n\t<div class=\"blockTitle\">\nBooyah!\t</div>\n\t\t\n\t\t<div class=\"blockContent\">Snooker HD</div>\n</div>",
            "ShouldRerender": false
          },
          "__type": "NodeBlock"
        },
        {
          "Id": 1059,
          "Name": "Booyah!",
          "SortOrder": 10000,
          "IsTemplateBlock": false,
          "IsDeletedBlock": false,
          "ViewModel": {
            "Tag": "div",
            "Attributes": [
              {
                "Name": "wbblockjson",
                "Value": "{\"Content\":{},\"Id\":1059,\"Class\":\"\",\"Attributes\":{},\"IsTemplateBlock\":false,\"IsDeleted\":false,\"SortOrder\":0,\"__type\":null}"
              }
            ],
            "Classes": " grid_3",
            "Html": "\n\t\n\n\n<div class=\"siteBlock featureBlock\">\n\t<div class=\"blockImage\">\n\t\t\t<img src=\"/media/1050/untitled.png\" alt=\"Booyah!\"> \n\t</div>\n\t\n\t<div class=\"blockTitle\">\nBooyah!\t</div>\n\t\t\n\t\t<div class=\"blockContent\">Snooker HD</div>\n</div>",
            "ShouldRerender": false
          },
          "__type": "NodeBlock"
        },
        {
          "Id": 1060,
          "Name": "72",
          "SortOrder": 10000,
          "IsTemplateBlock": false,
          "IsDeletedBlock": false,
          "ViewModel": {
            "Tag": "div",
            "Attributes": [
              {
                "Name": "wbblockjson",
                "Value": "{\"Content\":{},\"Id\":1060,\"Class\":\"\",\"Attributes\":{},\"IsTemplateBlock\":false,\"IsDeleted\":false,\"SortOrder\":0,\"__type\":null}"
              }
            ],
            "Classes": " grid_3",
            "Html": "\n\t\n\n\n<div class=\"siteBlock featureBlock\">\n\t<div class=\"blockImage\">\n\t\t\t<img src=\"/media/1050/untitled.png\" alt=\"72\"> \n\t</div>\n\t\n\t<div class=\"blockTitle\">\n72\t</div>\n\t\t\n\t\t<div class=\"blockContent\">Jack Perry LIVE</div>\n</div>",
            "ShouldRerender": false
          },
          "__type": "NodeBlock"
        },
        {
          "Id": 1,
          "Name": "Wysiwyg",
          "SortOrder": 0,
          "IsTemplateBlock": true,
          "IsDeletedBlock": false,
          "ViewModel": {
            "Tag": "div",
            "Attributes": [],
            "Classes": "block pageWysiwygBlock",
            "Html": "<p>Here is some content</p>",
            "ShouldRerender": false
          },
          "__type": "WysiwygBlock",
          "Content": "<p>Here is some content</p>"
        }
      ]
    }
  },
  "RecycleBin": [
    {
      "Id": 1060,
      "Name": "72",
      "SortOrder": 10000,
      "IsTemplateBlock": false,
      "IsDeletedBlock": false,
      "ViewModel": {
        "Tag": "div",
        "Attributes": [
          {
            "Name": "wbblockjson",
            "Value": "{\"Content\":{},\"Id\":1060,\"Class\":\"\",\"Attributes\":{},\"IsTemplateBlock\":false,\"IsDeleted\":false,\"SortOrder\":0,\"__type\":null}"
          }
        ],
        "Classes": " grid_3",
        "Html": "\n\t\n\n\n<div class=\"siteBlock featureBlock\">\n\t<div class=\"blockImage\">\n\t\t\t<img src=\"/media/1050/untitled.png\" alt=\"72\"> \n\t</div>\n\t\n\t<div class=\"blockTitle\">\n72\t</div>\n\t\t\n\t\t<div class=\"blockContent\">Jack Perry LIVE</div>\n</div>",
        "ShouldRerender": false
      },
      "__type": "NodeBlock"
    }
  ],
  "BlockStorage": []
}]]></webblocks>
  </HomePage>
</root>