<!DOCTYPE root[<!ELEMENT ContentPage ANY>
<!ATTLIST ContentPage id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
 
<!ELEMENT Base ANY>
<!ATTLIST Base id ID #REQUIRED>
<!ELEMENT WebBlocksBase ANY>
<!ATTLIST WebBlocksBase id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1052" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1050" template="1056" sortOrder="0" createDate="2015-01-06T17:45:30" updateDate="2015-01-08T21:07:46" nodeName="Home" urlName="home" writerName="Mentor" creatorName="Mentor" path="-1,1052" isDoc="">
    <ContentPage id="1053" parentID="1052" level="2" creatorID="0" sortOrder="0" createDate="2015-01-06T17:45:55" updateDate="2015-01-06T17:45:55" nodeName="Featured Movies" urlName="featured-movies" path="-1,1052,1053" isDoc="" nodeType="1051" creatorName="Mentor" writerName="Mentor" writerID="0" template="0" nodeTypeAlias="ContentPage" />
  </HomePage>
</root>