<!DOCTYPE root[<!ELEMENT FeatureBlock ANY>
<!ATTLIST FeatureBlock id ID #REQUIRED>
 
<!ELEMENT Base ANY>
<!ATTLIST Base id ID #REQUIRED>
<!ELEMENT ContentPage ANY>
<!ATTLIST ContentPage id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT WebBlocksBase ANY>
<!ATTLIST WebBlocksBase id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1052" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-01-06T17:45:30" updateDate="2015-01-16T15:17:55" nodeName="Home" urlName="home" path="-1,1052" isDoc="" nodeType="1050" creatorName="Mentor" writerName="Mentor" writerID="0" template="1056" nodeTypeAlias="HomePage">
    <ContentPage id="1053" parentID="1052" level="2" creatorID="0" sortOrder="0" createDate="2015-01-06T17:45:55" updateDate="2015-01-06T17:45:55" nodeName="Featured Movies" urlName="featured-movies" path="-1,1052,1053" isDoc="" nodeType="1051" creatorName="Mentor" writerName="Mentor" writerID="0" template="0" nodeTypeAlias="ContentPage" />
  </HomePage>
  <FeatureBlock id="1059" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-01-20T22:23:56" updateDate="2015-01-20T22:24:19" nodeName="Feature Block example" urlName="feature-block-example" path="-1,1059" isDoc="" nodeType="1058" creatorName="Mentor" writerName="Mentor" writerID="0" template="0" nodeTypeAlias="FeatureBlock">
    <link>1052</link>
    <caption><![CDATA[Testing]]></caption>
    <image>1057</image>
  </FeatureBlock>
</root>