<!DOCTYPE root[<!ELEMENT FeatureBlock ANY>
<!ATTLIST FeatureBlock id ID #REQUIRED>
 
<!ELEMENT Base ANY>
<!ATTLIST Base id ID #REQUIRED>
<!ELEMENT ContentPage ANY>
<!ATTLIST ContentPage id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT WebBlocksBase ANY>
<!ATTLIST WebBlocksBase id ID #REQUIRED>

]>
<root id="-1">
  <FeatureBlock id="1059" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-01-20T22:23:56" updateDate="2015-01-26T22:01:24" nodeName="All about the bass!" urlName="all-about-the-bass" path="-1,1059" isDoc="" nodeType="1058" creatorName="Mentor" writerName="Mentor" writerID="0" template="0" nodeTypeAlias="FeatureBlock">
    <content><![CDATA[Snooker HD]]></content>
    <image>1057</image>
  </FeatureBlock>
  <FeatureBlock id="1060" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2015-01-22T21:28:03" updateDate="2015-01-25T17:22:23" nodeName="72" urlName="72" path="-1,1060" isDoc="" nodeType="1058" creatorName="Mentor" writerName="Mentor" writerID="0" template="0" nodeTypeAlias="FeatureBlock">
    <content><![CDATA[Jack Perry LIVE]]></content>
    <image>1057</image>
  </FeatureBlock>
</root>