<div ng-controller="WebBlocks.AddBlockDialogCtrl" class="wbNoSelect">
    <div class="umb-modalcolumn-header">
        <h1 class="ng-binding">Add Block</h1>
    </div>
    <div class="umb-panel-body with-header with-footer">
        <h5 class="wbDialogTitle" style="float:left;">Drag your blocks into a container:</h5>
        <div style="position:relative;border-bottom:1px solid #ddd;width:100%;display:block;float:left;height:40px;width:100%;">
            <a ng-drag="true" ng-drag-data="templateDraggableWysiwygBlock" ng-drag-success="onWysiwygDragComplete($data,$event)">
                <div style="width: 25px;padding: 10px 0px;float: left;display:inline-block;">
                    <i class="icon icon-newspaper-alt" style="font-size: 20px;"></i>
                </div>
                <div style="display:inline-block;padding: 10px 0px;">
                    <span style="font-size: 14px;margin:10px;">Wysiwyg Block</span>
                </div>
            </a>
        </div>

        <h5 class="wbDialogTitle" style="float:left;">Content:</h5>
        <div class="wb-navigation-items">

            <div ng-show="viewNavigationSource.navigationModel.Parent != null" ng-animate="'wbslide'" ng-click="loadChildNavigationIntoMenu(viewNavigationSource.navigationModel.Parent)" class="wb-navigation-item">
                <a prevent-default="" class="wb-navigation-back">
                    <div class="wb-navigation-back-icon">
                        <i class="icon icon-left-double-arrow"></i>
                    </div>
                    <div class="wb-navigation-back-name">
                        <span>Back</span>
                    </div>
                </a>
            </div>

            <div ng-animate="'wbslide'" ng-hide="!viewNavigationSource.show" class="wb-navigation-item" ng-repeat="navigationModel in viewNavigationSource.navigationModel.Children">
                <div class="wb-navigation-item-load-children">
                    <a ng-click="loadChildNavigationIntoMenu(navigationModel)" ng-show="navigationModel.Model.HasChildren"><i class="icon icon-right-double-arrow"></i></a>
                </div>
                <a ng-click="handleNavigationMore(navigationModel)" class="wb-navigation-item-more umb-options">
                    <i></i><i></i><i></i>
                </a>

                <a ng-drag="true" ng-drag-data="navigationModel.DraggableBlock" prevent-default="" class="wb-draggable-item">
                    <div class="wb-draggable-item-icon">
                        <i class="icon {{navigationModel.Model.IconClass}}"></i>
                    </div>
                    <div class="wb-draggable-item-name">
                        <span>{{navigationModel.Model.Name}}</span>
                    </div>
                </a>
            </div>
        </div>

    </div>
    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">
                <input type="button" class="btn btn-success" ng-click="submit()" value="Close" />
            </div>
        </div>
    </div>
</div>
