
@inherits WebBlocks.ViewTemplates.WebBlocksViewPage


@{
    CurrentBlockContext.CssClasses.Add("flexsliderBlockPreview");
    <img alt="Slide" src="@Umbraco.Media(@CurrentBlock.image).Url" class="grid_2"/>
    <span>Slide</span>
}
