@using System.Dynamic
@inherits WebBlocks.ViewTemplates.WebBlocksViewPage

@{
    CurrentBlockContext.CssClasses.Add("body-heading");

    var title = !string.IsNullOrEmpty(CurrentPage.GetPropertyValue<string>("h1Override")) ? CurrentPage.GetPropertyValue<string>("h1Override") : CurrentPage.Name;

    <h1>@Html.Raw(title)</h1>
}
