@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    IPublishedContent topNavigationSource = CurrentPage.AncestorOrSelf(1);
    var topNavigationLinks = topNavigationSource.GetPropertyValue<RJP.MultiUrlPicker.Models.MultiUrls>("topNavigationLinks");
}

<nav id="secondary-nav" role="navigation">
    @loadLinks(topNavigationLinks)
</nav>

@helper loadLinks(RJP.MultiUrlPicker.Models.MultiUrls links)
{
    if (links.Any())
    {
        foreach (var link in links)
        {
            <a href="@link.Url" target="@link.Target">@link.Name</a>
        }
    }
}
