@inherits WebBlocks.ViewTemplates.WebBlocksTemplatePage

@{
    WebBlocks.CssClasses.Add("flexsliderBlockPreview");
}

<img alt="Slide" src="http://img.youtube.com/vi/@CurrentBlock.videoId/sddefault.jpg" class="grid_2"/>
<span>Video</span>
