@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "_Layout.cshtml";
}

@section content
{

<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    @* params: 
                        element such as strong, h2, div, section etc, 
                        unique key for value, 
                        editor for backoffice,
                        web blocks property alias,
                        optional html attributes *@
                    @Html.EditableElementForTemplate("strong", "Heading", "LiveText", "webBlocks")
                </h1>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                @Html.EditableElementForTemplate("p", "SubText", "LiveText", "webBlocks", "text-faded mb-5")
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
            </div>
        </div>
    </div>
</header>

<section id="services">

    @Html.Container("webBlocks", new Container
{
    Name = "test",
    Tag = "div",
    Classes = "container",
    //Blocks = Builder.Create()
    //            .ElementBlock("row")
    //                .WithChildren(Builder.Create()
    //                    .ElementBlock("col-md-4")
    //                    .ElementBlock("col-md-4")
    //                    .ElementBlock("col-md-4"))
    //            .ElementBlock("row")
    //                .WithChildren(Builder.Create()
    //                    .ContentBlock(1077)
    //                    .WysiwygBlock(293123))
    //            .ElementBlock("row")
    //                .WithChildren(Builder.Create()
    //                    .ContentBlock(1071)
    //                    .ContentBlock(1072)
    //                    .ContentBlock(1073)
    //                    .ContentBlock(1074))
    //            .ToList(),
    GridDefinitions = new List<GridDefinition>
    {
        new GridDefinition
        {
            Alias = "1 column",
            ClassName = "row",
            AllowAtRoot = true,
            GridDefinitions = new List<GridDefinition>
            {
                new GridDefinition { ClassName = "col col-lg-12", AllowedChildGrids = new [] { "BlockRow" } }
            }
        },
        new GridDefinition
        {
            Alias = "2 columns",
            ClassName = "row",
            AllowAtRoot = true,
            GridDefinitions = new List<GridDefinition>
            {
                new GridDefinition { ClassName = "col col-lg-6", AllowedChildGrids = new [] { "BlockRow" } },
                new GridDefinition { ClassName = "col col-lg-6", AllowedChildGrids = new [] { "BlockRow" } }
            }
        },
        new GridDefinition
        {
            Alias = "3 columns",
            ClassName = "row",
            AllowAtRoot = true,
            GridDefinitions = new List<GridDefinition>
            {
                new GridDefinition { ClassName = "col col-lg-4", AllowedChildGrids = new [] { "BlockRow" } },
                new GridDefinition { ClassName = "col col-lg-4", AllowedChildGrids = new [] { "BlockRow" } },
                new GridDefinition { ClassName = "col col-lg-4", AllowedChildGrids = new [] { "BlockRow" } }
            }
        },
        new GridDefinition
        {
            Alias = "Block Container",
            ClassName = "row",
            AllowAtRoot = true,
            AddByDefaultIfOnlyOption = true,
            AllowNonElementBlocks = true
        }
    }
})
</section>

<section class="p-0" id="portfolio">
    <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="/img/portfolio/fullsize/1.jpg">
                    <img class="img-fluid" src="/img/portfolio/thumbnails/1.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="/img/portfolio/fullsize/2.jpg">
                    <img class="img-fluid" src="/img/portfolio/thumbnails/2.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="/img/portfolio/fullsize/3.jpg">
                    <img class="img-fluid" src="/img/portfolio/thumbnails/3.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="/img/portfolio/fullsize/4.jpg">
                    <img class="img-fluid" src="/img/portfolio/thumbnails/4.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="/img/portfolio/fullsize/5.jpg">
                    <img class="img-fluid" src="/img/portfolio/thumbnails/5.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="/img/portfolio/fullsize/6.jpg">
                    <img class="img-fluid" src="/img/portfolio/thumbnails/6.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
}