@inherits UmbracoViewPage<WebBlocks.SandboxV7.Controllers.TestModel>

@using (Html.BeginWebBlockForm("HandleSubmit", "WebBlockControllerTest"))
{
    <div>
        Your name: @Html.TextBoxFor(Model => Model.Name)
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
}
